<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "net.bosak.hsc.inventory"
	version 	= "1.0.0">

	<name>HSC Inventory</name>

	<description>
		A tool to help keep track of inventory for Hackerspace Charlotte
	</description>

	<author href="http://hsc.bosak.net"
		email="kevin@bosak.net">
		Kevin Bosak
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
	</gap:platforms>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/network"/>

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>
